@import url(http://fonts.googleapis.com/css?family=Elsie+Swash+Caps:400,900);
@import url(http://fonts.googleapis.com/css?family=Clicker+Script);

/* This 
is 
a comment! */

/* CSS Syntax:

selector {
  property: value;
  property: value;
}

*/

/* Type selector */

p { /* select all <p> */
  font-size: 1em; /* 16px, ?pt, 100%, 1em */
  line-height: 1.5em;
}

figcaption {
  /*font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
  font-family: Georgia, "New Times Roman", serif;*/
  font: normal 0.75em/1.5em 'Elsie Swash Caps', cursive;
  color: #777;
  text-align: right;
}

/* Class selector (applied to as many elements as you like) */

.milk-text { /* select elements with class="milk-text" */
  font: bold 2.6em 'Elsie Swash Caps', cursive;
  color: white;
  text-shadow: 0 2px 3px #000;
}

/* ID selector (apply to one unique element per page) */

#logo { /* select elements with id="logo" */
}

/* Descendent Selector */

#logo h1 { /* selects <h1> if inside the id="logo" */
  font-family: 'Clicker Script', cursive;
}

#logo h2 {
  font-family: 'Elsie Swash Caps', cursive;
}

/* Psuedo Selector */

#details a:link, #details a:visited {
  color: black;
  text-decoration: none;
}

#details a:hover {
  color: black;
  text-decoration: underline;
}

#details a:active {
  color: red;
}


/*////// MEDIA //////*/
img, video, audio {
  max-width: 100%; /*media will only
  be max 100% of its container*/
}


/*////// LAYOUT //////*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

.col-1{ /*column spanning 1/3*/
  float: left;
  width: 32%; /* 3 columns with
  2% margins between columns
  therfore 100-(2*2)/3 */
  background: #ccc;
}

.col-2{ /*column spanning 2/3*/
  float: left;
  width: 66%; /* 2 columns with
  2% margins between columns
  therfore 32*2+2 */
  background: #ccc;
}

.col-3{ /*column spanning 3/3*/
  /* no float, nothing beside it
  no width, goes the full width */
  background: #ccc;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

[class*="col-"] { /*psuedo selector
  to any class that has col- in it*/
  margin-left: 2%
  /*this helps but we don't want an
  extra margin on the left of the
  left-most column of threes*/
}

.first {
  margin-left: 0%
  /*we then add this class to any
  first/leftmost column in html*/
}

/*////// SECTIONS //////*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 1;
}


section {
  padding: 20px; /*padding is adding to width
  and breaking our layout in wc3 box format*/
  margin-bottom: 20px; 
}

/*////// SOCIAL //////*/
#social {
  position: fixed;
  top: 200px;
  right: 20px;
  width: 40px;
  z-index: 1; /*so it will always be on top*/
}

#social a { /*descendents of social*/
  display: block; /*to be vertical*/
  width: 40px;
  height: 40px;
  background-color: yellow;
}